{% extends 'base.html.twig' %}

{% block title %}Lisztomania :: {% trans %}global.settings{% endtrans %}{% endblock %}
{% block pageTitle %}{% trans %}global.settings{% endtrans %}{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb text-right">
        <li><a href="{{ path('rtAdminDashboard') }}">{% trans %}global.dashboard{% endtrans %}</a></li>
        <li class="active">{% trans %}global.settings{% endtrans %}</li>
    </ol>
{% endblock %}

{% block mainContent %}  
    {% trans %}global.comingSoon{% endtrans %}
{% endblock %}
