{% extends 'base.html.twig' %}

{% block title %}Lisztomania :: {% trans %}Artists{% endtrans %}{% endblock %}
{% block pageTitle %}{% trans %}Artists{% endtrans %}{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb text-right">
        <li><a href="{{ path('rtAdminDashboard') }}">{% trans %}Dashboard{% endtrans %}</a></li>
        <li class="active">{% trans %}Artists{% endtrans %}</li>
    </ol>
{% endblock %}

{% block mainContent %}  
    {% trans %}Coming soon...{% endtrans %}
{% endblock %}
