{% extends 'base.html.twig' %}

{% block title %}Lisztomania :: Albums{% endblock %}
{% block pageTitle %}Albums{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb text-right">
        <li><a href="{{ path('rtAdminDashboard') }}">Dashboard</a></li>
        <li class="active">Albums</li>
    </ol>
{% endblock %}

{% block mainContent %}  
    Coming soon...
{% endblock %}