{% extends 'base.html.twig' %}

{% block title %}Lisztomania :: {% trans %}Albums{% endtrans %}{% endblock %}
{% block pageTitle %}{% trans %}Albums{% endtrans %}{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb text-right">
        <li><a href="{{ path('rtAdminDashboard') }}">{% trans %}Dashboard{% endtrans %}</a></li>
        <li class="active">Albums</li>
    </ol>
{% endblock %}

{% block mainContent %}  
    {% trans %}Coming soon...{% endtrans %}
{% endblock %}