<p>{% trans %}global.hey{% endtrans %} {{ name }},</p>

<p>{% trans from 'users'%}forgotPassword.youForgotPassword{% endtrans %}<br>
   {% trans from 'users'%}forgotPassword.clickToSetPassword{% endtrans %}<br><br>
   <a href="{{ link }}" target="_blank">{{ link }}</a></p>

<p>{% trans %}global.bestRegards{% endtrans %}<br/>
{% trans %}global.lisztomaniaTeam{% endtrans %}</p>

<p>{% trans from 'users'%}forgotPassword.ignoreEmail{% endtrans %}</p>
