<p>{% trans %}global.hey{% endtrans %} {{ name }},</p>

<p>{% trans from 'users'%}setPassword.accountCreated{% endtrans %}<br><br>
   {% trans from 'users'%}setPassword.clickToSetPassword{% endtrans %}<br><br>
   <a href="{{ link }}" target="_blank">{{ link }}</a></p>

<p>{% trans %}global.bestRegards{% endtrans %}<br/>
{% trans %}global.lisztomaniaTeam{% endtrans %}</p>