/* Forms */

.input-group-addon {
    border-radius: 0rem;
}

label.required:after {
    content: " *";
}

/* Login */

.login-form .btn {
    text-transform: none;
    padding: 10px;
}

.login-form label {
    text-transform: none;
}
