{% extends 'base.html.twig' %}

{% block title %}Lisztomania :: {% trans %}global.dashboard{% endtrans %}{% endblock %}
{% block pageTitle %}{% trans %}global.dashboard{% endtrans %}{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb text-right">
        <li class="active">{% trans %}global.dashboard{% endtrans %}</li>
    </ol>
{% endblock %}

{% block mainContent %}      
    
<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">

            <div class="col-sm-12 mb-4">
                <div class="card-group">
                    <div class="card col-lg-2 col-md-6 no-padding bg-flat-color-1">
                        <div class="card-body">
                            <div class="h1 text-muted text-right mb-4">
                                <i class="fa fa-music text-light"></i>
                            </div>
                            <div class="h4 mb-0 text-light">
                                <span class="count">{{ albumAmounts['total'] }}</span>
                            </div>
                            <small class="text-uppercase font-weight-bold text-light">{% trans %}global.albums{% endtrans %}</small>
                            <div class="progress progress-xs mt-3 mb-0 bg-light" style="width: 40%; height: 5px;"></div>
                        </div>
                    </div>        
                </div>
            </div>
        </div>
    </div>        
</div>
    
{% endblock %}

