{% extends 'base.html.twig' %}

{% block title %}Lisztomania :: {% trans %}global.dashboard{% endtrans %}{% endblock %}
{% block pageTitle %}{% trans %}global.dashboard{% endtrans %}{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb text-right">
        <li class="active">{% trans %}global.dashboard{% endtrans %}</li>
    </ol>
{% endblock %}

{% block mainContent %}      
    
<div class="animated fadeIn">
    <div class="row">

        <div class="col-lg-4 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="stat-widget-one">
                        <div class="stat-icon dib"><i class="fa fa-users text-success border-success"></i></div>
                        <div class="stat-content dib">
                            <div class="stat-text">{% trans %}global.users{% endtrans %}</div>
                            <div class="stat-digit count">{{ userAmount }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="stat-widget-one">
                        <div class="stat-icon dib"><i class="fa fa-microphone text-primary border-primary"></i></div>
                        <div class="stat-content dib">
                            <div class="stat-text">{% trans %}global.artists{% endtrans %}</div>
                            <div class="stat-digit count">{{ artistAmount }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="stat-widget-one">
                        <div class="stat-icon dib"><i class="fa fa-music text-warning border-warning"></i></div>
                        <div class="stat-content dib">
                            <div class="stat-text">{% trans %}global.albums{% endtrans %}</div>
                            <div class="stat-digit count">{{ albumAmount }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</div>    
    
{% endblock %}

