{% extends 'base.html.twig' %}

{% block title %}Lisztomania :: {% trans %}Dashboard{% endtrans %}{% endblock %}
{% block pageTitle %}{% trans %}Dashboard{% endtrans %}{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb text-right">
        <li class="active">{% trans %}Dashboard{% endtrans %}</li>
    </ol>
{% endblock %}

{% block mainContent %}  
    {% trans %}Coming soon...{% endtrans %}
{% endblock %}

