{% extends 'base.html.twig' %}

{% block title %}Lisztomania :: Dashboard{% endblock %}
{% block pageTitle %}Dashboard{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb text-right">
        <li class="active">Dashboard</li>
    </ol>
{% endblock %}

{% block mainContent %}  
    Coming soon...
{% endblock %}

