{% extends 'base.html.twig' %}

{% block title %}Lisztomania :: {% trans from 'labels' %}action.delete{% endtrans %}{% endblock %}
{% block pageTitle %}{% trans from 'labels' %}action.delete{% endtrans %}{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb text-right">
        <li><a href="{{ path('rtAdminDashboard') }}">{% trans %}global.dashboard{% endtrans %}</a></li>
        <li><a href="{{ path('rtAdminLabelOverview') }}">{% trans %}global.labels{% endtrans %}</a></li>
        <li class="active">{% trans from 'labels'%}action.delete{% endtrans %}</li>
    </ol>
{% endblock %}

{% block mainContent %}  
    
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">                      
                        
                        <div class="row">
                            <div class="col col-md-12">
                                <p class="dark">{% trans from 'labels' %}error.deleteFailed{% endtrans %}<br/>
                                   {% trans from 'labels' %}error.distributorLinkedToAlbums{% endtrans %}</p>
                            </div>
                        </div> 
                            
                        <div class="row mt-2">
                            <div class="col-md-12">
                                <a href="{{ path('rtAdminLabelOverview') }}" class="btn btn-outline-primary">{% trans %}action.backToOverview{% endtrans %}</a>
                            </div>
                        </div>                            
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
                                   
{% endblock %}
