{% extends 'base.html.twig' %}

{% block title %}Lisztomania :: {% trans from 'labels'%}action.view{% endtrans %}{% endblock %}
{% block pageTitle %}{% trans from 'labels'%}action.view{% endtrans %}{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb text-right">
        <li><a href="{{ path('rtAdminDashboard') }}">{% trans %}global.dashboard{% endtrans %}</a></li>
        <li><a href="{{ path('rtAdminLabelOverview') }}">{% trans %}global.labels{% endtrans %}</a></li>
        <li class="active">{% trans from 'labels'%}action.view{% endtrans %}</li>
    </ol>
{% endblock %}

{% block mainContent %}  
    {% trans %}global.comingSoon{% endtrans %}
{% endblock %}
