{% extends 'base.html.twig' %}

{% block title %}Lisztomania :: {% trans from 'users'%}Delete a user{% endtrans %}{% endblock %}
{% block pageTitle %}{% trans from 'users'%}Delete a user{% endtrans %}{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb text-right">
        <li><a href="{{ path('rtAdminDashboard') }}">{% trans %}Dashboard{% endtrans %}</a></li>
        <li><a href="{{ path('rtAdminUserOverview') }}">{% trans %}Users{% endtrans %}</a></li>
        <li class="active">{% trans from 'users'%}Delete a user{% endtrans %}</li>
    </ol>
{% endblock %}

{% block mainContent %}  
    {% trans %}Coming soon...{% endtrans %}
{% endblock %}
