{% extends 'loggedOut.html.twig' %}

{% block title %}Lisztomania :: {% trans %}global.resetYourPassword{% endtrans %}{% endblock %}

{% block mainContent %}  
    
<p>{% trans from 'users' %}forgotPassword.passwordIsReset{% endtrans %}<br>
   {% trans from 'users' %}forgotPassword.clickToLogin{% endtrans %}</p>

<a href="{{ path('rtAdminLogin') }}" class="mt-2 btn btn-sm btn-primary">
    {% trans %}global.login{% endtrans %}
</a>

{% endblock %}
