{% extends 'base.html.twig' %}

{% block title %}Lisztomania :: Mijn profiel{% endblock %}
{% block pageTitle %}Mijn profiel{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb text-right">
        <li><a href="{{ path('rtAdminDashboard') }}">Dashboard</a></li>
        <li class="active">Mijn profiel</li>
    </ol>
{% endblock %}

{% block mainContent %}  
    Coming soon...
{% endblock %}
