{% extends 'base.html.twig' %}

{% block title %}Lisztomania :: Een gebruiker bekijken{% endblock %}
{% block pageTitle %}Een gebruiker bekijken{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb text-right">
        <li><a href="{{ path('rtAdminDashboard') }}">Dashboard</a></li>
        <li><a href="{{ path('rtAdminUserOverview') }}">Gebruikers</a></li>
        <li class="active">Een gebruiker bekijken</li>
    </ol>
{% endblock %}

{% block mainContent %}  
    Coming soon...
{% endblock %}

