{% extends 'loggedOut.html.twig' %}

{% block title %}Lisztomania :: {% trans from 'users'%}action.confirmRegistration{% endtrans %}{% endblock %}

{% block mainContent %}  
 
<p>{% trans from 'users' %}accountUnconfirmed.accountUnconfirmed{% endtrans %}<br>
   {% trans from 'users' %}accountUnconfirmed.clickLinkInEmail{% endtrans %}</p>

<!--
<a href="#" class="mt-2 btn btn-sm btn-primary">
    {% trans from 'users' %}accountUnconfirmed.resendConfirmationMail{% endtrans %}
</a>
-->
    
{% endblock %}
